body {
    margin: 0;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#title-container {
    width: 100%;
    background-color: #1a1a1a;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
}

#title-container h1 {
    margin: 0;
    padding: 10px;
    color: white;
}

.content-container {
    width: 100%;
    margin-top: 70px; 
    display: flex;
    justify-content: center;
}

.graph-div1, .graph-div2, .graph-div3 {
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px; /* Reduzi o espaço superior para melhorar o espaçamento */
    display: flex; /* Adicionei esta regra para fazer os gráficos ficarem em coluna */
    flex-direction: column; /* Os elementos dentro das divs ficarão em coluna */
    align-items: center; /* Centraliza horizontalmente */
}

.chart-canvas {
    width: 100%;
    height: 100px;
}

.graph-div1 h2, .graph-div2 h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

body::-webkit-scrollbar {
    width: 10px; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

body::-webkit-scrollbar-track {
    background-color: transparent; 
}
